@import url("https://fonts.googleapis.com/css2?family=Crimson:wght@300;400;500;700;900&display=swap");
*{
    box-sizing: border-box;
}
body{
    font-family: "Crimson", sans-serif;
    margin: 0;
}
#video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.pre-container{
    background-image: url("backimage.jpg");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
}
a{
    color: rgb(252, 246, 246);
    font-size: 1.5rem;
    text-decoration: none;
}
.container{
    margin: 0 auto;
    padding: 1rem;
    max-width: 100%;
}
nav{
    padding: 1rem 0;
 
}
.pre-nav{
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:grey;
   
}
.logo{
    color:white;
    text-shadow:2px 2px black;
    font-weight: bold;
    font-size: 2.5rem;
    cursor:default;
  
}
.logo-text{
    font-weight: bold;
    font-size: 1rem;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    border: grey 1px solid;
}
nav li{
    flex: 1 auto;
}
nav li a{

    
    background-color: white;
    display:block;
    padding: 1rem 2rem;
    text-align: center;
    color:black;
}
nav a.highlight{
    background-color:grey;
    color: white;
    text-decoration: underline;
    text-underline-offset: 5px;
}
nav a:hover{
    opacity: 0.8;
   text-decoration:underline;
   text-underline-offset: 5px;
   
}
.content{
    border: 10px solid white;
    background-color:rgb(241, 238, 238);
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    width:1000px;
    margin:0 auto;
    align-items: flex-start;
    margin-top:3rem;
}
.content h1 {
    text-decoration: underline solid;;
    text-underline-offset: 0.5rem;
    line-height: 1.8;
    align-self:center;
    color: black;
    display: inline-block;
    padding: 1rem;
    font-weight: 200;
}
.content h2{
    align-self:center;
    font-size:200%;
    border-left:solid grey 3px;
    padding: 1em;
    color: black;
    display:inline-block;
    background-color:white;
    font-weight:200;
    margin-top:1em;

}
.content iframe{
    margin-top:1em;
    align-self:center;
    width:100%;
    height:2000px;
}
.content p{
   
    color:black;
    font-size:1rem;
}
.introtext p{
    margin: 1em 4em;
    border-left:solid grey 3px;
    padding: 1em;
    color: black;
    display:inline-block;
    background-color:white;
}
.preimg{
    margin:1em 4em;
    border: 2px solid black;
    background: url("https://cache.lovethispic.com/uploaded_images/192646-Everything-Is-Temporary.jpg");
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: bottom;
    width: 200px;
    height: 250px;
    text-align: center;
    background-color:grey;
}
.preimg p{
    color:white;
    font-weight:700;
}

.white-link{
    background-color:#acb3f8;
    color: #110202;
    padding: 1rem;
}
.teal-link{
    background-color:#b80b83;
    color:#054605;
    padding: 1rem;
    margin-top: 2rem;
}
@media screen and (max-width:768px) {
    .pre-nav{
        font-size: 0.5rem;
        align-items: center;
        flex-direction: column;
    }
    nav{
        flex-direction: column;
    }

    .content{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
    .content h1 {
        font-size: 1.25rem;
    }

    .content iframe{
        margin-top:3em;
        align-self:center;
        width: 0.5 rem;
    }

}