@import url("https://fonts.googleapis.com/css2?family=Crimson:wght@300;400;500;700;900&display=swap");
*{
    box-sizing: border-box;
}
body{
    font-family: "Crimson", sans-serif;
    font-size: 2vw;
    background-image: url("backimage.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat:no-repeat;
    overflow-x:hidden;
  
}
footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:white;
    color: black;
    text-align: center;
    font-size: small;
    border-top:1px solid black;
    padding:1vh;
}
#video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
a{
    color: rgb(252, 246, 246);
    font-size: 1.5rem;
    text-decoration: none;
}
.container{
    margin: 0 auto;
    padding: 0;
}

.container:only-child(.content)
{
    padding:20%;
}

nav{
    padding: 1rem;
 
}
.pre-nav{
    font-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    border: 1px solid black;
    width:100vw;
}
.logo{
    color:black;
    font-weight: bold;
    font-size: 2.5rem;
    cursor:default;
}
.logo a{

    color:black;
    font-weight:bold;
    font-size:100%;
    cursor:default;
}
.logo a:hover{
    text-decoration:none;
}
.logo-text{
    font-weight: bold;
    font-size: 1rem;
}
nav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
}
nav li{
    flex: 1 auto;
}
nav li a{
    background-color: transparent;
    display:block;
    padding: 1rem 2rem;
    text-align: center;
    color:black;
}
nav a.highlight{
    background-color:transparent;
    color: black;
    text-decoration: underline;
    text-underline-offset: 5px;
}
nav a:hover{
    opacity: 0.8;
   text-decoration:underline;
   text-underline-offset: 5px;
   
}
.pre-content{
    padding: 3% 15%;
    width:100vw;
}
.content{
    border: 10px solid white;
    background-color:rgb(241, 238, 238);
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    align-items: flex-start;
    margin-top:3rem;
    padding-bottom: 10vh;
    
}
.content h1 {
    border: 3px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    line-height: 1.8;
    align-self:center;
    color: black;
    display: inline-block;
    padding:1%;
    font-weight: 200;
    margin:1vw;
}
.content h2{
 margin:3% 10%;
 font-size: 3vh;
}
.content iframe{
    margin-top:1em;
    align-self:center;
    width:100%;
    height:2000px;
}
.content p{
   
    color:black;
    font-size:1rem;
}
.introtext{
    margin:1% 10%;
    border-left:solid grey 3px;
    padding: 1em;
    color: black;
    display:inline-block;
    background-color:white;
    text-align:left;
}
#clubpic{
    align-self:center;
    width:45vw;
    height:30vw;
    border: 3px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    margin: 1em 0;
}
.jinfo ul{
    list-style-type:circle;
    display:block;
    margin:0% 20%;
}
.jinfo li{
    padding:1%;
}
.flexcontainer{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-self: center;
    margin:1em 10%;
    row-gap: 10px;
}
.preimg{
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}
.preimg img{
    height:auto;
    width: 250px;
}
.btxt{
    padding:2%;
    margin:0% 5%;
    max-width:60%;
    text-align: left;
}
.buttonopt1{
    margin: 0% 0%;
    display:inline-block;
    background-color:grey;
    padding:10px;
    border-radius:4px;
    border:5px solid transparent;
    font-weight:bold;
    transition:0.3s;
}
.regtxt
{
    font-size:large;
    margin: 1% 10%;
    text-align: left;
}
.flex-left-align{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    row-gap: 10px;
    column-gap:10px;
    align-items:center;
}
.flex-left-margin-align-even{
    justify-content:space-evenly;
    margin:1em 10%;
}
.flex-left-joinUsSteps{
    align-items:flex-start;
    margin:0;
    margin-top:2.5em;
    flex-wrap: nowrap;
}
.flex-img-box{
 text-align:center;
 font-family:Arial, Helvetica, sans-serif;
}
.flex-img-box img{
    height:auto;
    width:10vw;
}
.flex-img-box p{
    font-size: 2vh;
}
.buttonopt1:hover
{
    color:black;
    background-color:white;
    border:black 5px solid;
    display:inline-block;
}
.flex-img-box .material-symbols-outlined{

    font-size:20vh;
}
.white-link{
    background-color:#acb3f8;
    color: #110202;
    padding: 1rem;
}
.teal-link{
    background-color:#b80b83;
    color:#054605;
    padding: 1rem;
    margin-top: 2rem;
}
#step1{
    width:auto;
    flex-shrink:1;
}
#step2{
    width:auto;
    flex-shrink:2;
    max-width:700px;
    border-left: 2px solid grey;
}
@media screen and (max-width:768px) {
    .logo a{
        font-size:75%;
    }
    .pre-nav{
        align-items: center;
        flex-direction: column;
        height:fit-content;
    }
    .pre-nav li a{
        font-size:185%;
        padding:10px 20px;
    }
    nav{
        flex-direction: column;
    }
    .pre-content{
    padding:0%;
    padding-bottom: 10%;
    margin:0%;
    }
    .content{
        margin-top: 1rem;
        font-size: 16px;
    }
    .content h1 {
        font-size: 1.25rem;
    }
    .content h2 {
        font-size: 1.75rem;
    }
    .preimg{
        margin-top:5%;
    }
    .flexcontainer{
        margin:0%;
    }
    .flex-left-joinUsSteps{
        flex-wrap:wrap;
    }
    .content iframe{
        margin-top:3em;
        align-self:center;
        width: 0.5 rem;
        height:2100px;
        font-size:16px;
        position:relative;
    }
    .btxt{
        width:auto;
        flex-grow:4;
        max-width: 95%;
    }
    .flex-img-box img{
        height:auto;
        width:22vw;
    }
    .buttonopt1{
        margin: 10px 10%;
    }
    .regtxt{
        margin: 5px 5%;
    }
    #step2{
        border:none;
    }
    #clubpic{
        width:70vw;
        height:auto;
    }
}